<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<!--<p th:text="'id: ' + ${buddyInfo.id}" />-->
<p th:text="'Title: ' + ${book.title}" />
<table>
    <th:block th:each="buddy : ${book.buddies}">
        <tr>
            <td th:text="${buddy.name}"></td>
            <td th:text="${buddy.phoneNumber}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>